---
import { ArrowRight } from "@lucide/astro";

const { href, label } = Astro.props;
---

<div class="mt-6">
  <a
    href={href}
    class="inline-flex items-center justify-between rounded-full bg-brand text-semantic-background h-11 group relative px-6"
  >
    <div
      class="absolute top-1/2 -translate-y-1/2 left-0.5 aspect-square flex items-center justify-center rounded-full bg-semantic-background text-brand w-10 p-[10px] group-hover:scale-0 transition-transform duration-300 ease-out"
    >
        <ArrowRight size={20} aria-hidden="true" />
    </div>
    <span
      class="pl-10 pr-2 group-hover:pl-2 group-hover:pr-10 transition-[padding] duration-300 ease-out"
      >{label}</span
    >
    <div
      class="absolute top-1/2 -translate-y-1/2 right-0.5 aspect-square flex items-center justify-center rounded-full bg-semantic-background text-brand w-10 p-[10px] scale-0 group-hover:scale-100 transition-transform duration-300 ease-out"
    >
      <ArrowRight size={20} aria-hidden="true" />
    </div>
  </a>
</div>
