---

---

<div class="pt-40">
  <div class="grid grid-cols-12 gap-5">
    <div class="col-span-8">
      <p class="heading-2 indent-[calc((100%/8))]">
        I create clarity where complexity exists, helping organizations
        articulate their purpose, connect with audiences, and build brands that
        drive meaningful impact.
      </p>
    </div>
  </div>
</div>
