---
import ArrowButton from "./ArrowButton.astro";
---

<div class="pt-20 lg:pt-40">
  <div class="grid lg:grid-cols-12 gap-5">
    <div class="lg:col-span-8">
      <p class="heading-2 indent-[calc((100%/8))]">
        My goal is to create simple, distinct and memorable work that moves
        people into action. My approach is built on a understanding of the needs
        of those we are looking to reach. I lead teams with coherence, courage
        and care.
      </p>
      <div class="pt-8">
        <ArrowButton href="/about" label="About Me" />
      </div>
    </div>
  </div>
</div>
