---

---

<div class="lg:grid grid-cols-12 gap-5 pt-24 lg:pt-40 lg:pb-40">
  <div class="col-span-6 col-start-3">
    <h1 class="display-1">Mila Linares</h1>
    <div class="max-w-[328px] mt-6 lg:pl-2.5">
      <p class="mb-5 font-medium">Chief of Brand at UNICEF</p>
      <p class="mb-5">
        20 years leading brand strategy for global brands, agencies and
        nonprofits including American Express, Wolff Olins, UNICEF.
      </p>
      <p>
        <a
          href="https://www.linkedin.com/in/mila-linares-83354013/"
          class="inline-flex gap-2"
          target="_blank"><span>LinkedIn</span> <span>&#8599;</span></a
        >
      </p>
    </div>
  </div>
</div>
