@import "tailwindcss";
@import "./fonts";
@import "./tokens";
@import "./prose";

body {
  font-family: var(--font-neue-montreal);
  font-size: var(--font-size-body-1);
  line-height: var(--font-leading-snug);
  background-color: #e5eaf6;
  color: #002fa7;
}

@layer components {
  .display-1 {
    font-size: var(--font-size-display-1);
    font-weight: 500;
    line-height: 90%;
  }

  .display {
    font-size: var(--font-size-display);
    font-weight: var(--font-weight-ultralight);
    line-height: var(--font-leading-tight);
    letter-spacing: var(--font-tracking-tight);
  }

  .heading-1 {
    font-size: var(--font-size-heading-1);
    font-weight: var(--font-weight-ultralight);
    line-height: var(--font-leading-tight);
    letter-spacing: var(--font-tracking-tight);
  }

  .heading-2 {
    font-size: var(--font-size-heading-2);
    font-weight: var(--font-weight-ultralight);
    line-height: var(--font-leading-snug);
    letter-spacing: var(--font-tracking-tight);
  }

  .heading-3 {
    font-size: var(--font-size-heading-3);
    font-weight: var(--font-weight-thin);
    line-height: var(--font-leading-snug);
    letter-spacing: var(--font-tracking-tight);
  }

  .heading-4 {
    font-size: var(--font-size-heading-4);
    font-weight: var(--font-weight-thin);
    line-height: var(--font-leading-snug);
    letter-spacing: var(--font-tracking-normal);
  }

  .heading-5 {
    font-size: var(--font-size-heading-5);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-leading-normal);
    letter-spacing: var(--font-tracking-normal);
  }

  .body-1 {
    font-size: var(--font-size-body-1);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-leading-snug);
    letter-spacing: var(--font-tracking-normal);
  }

  .body-2 {
    font-size: var(--font-size-body-2);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-leading-normal);
    letter-spacing: var(--font-tracking-normal);
  }

  .label {
    font-size: var(--font-size-label);
    font-weight: var(--font-weight-regular);
    line-height: var(--font-leading-relaxed);
    letter-spacing: var(--font-tracking-normal);
  }

  .btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.75rem;
    line-height: 1;
    transition: transform 0.2s ease;
    cursor: pointer;
    border: 1px solid var(--color-brand);
    border-radius: 9999px;
  }

  .btn:hover {
    transform: translateY(-2px);
  }

  .btn-primary {
    background-color: var(--color-semantic-primary);
    color: var(--color-neutral-0);
  }

  .btn-secondary {
    background-color: transparent;
    color: var(--color-brand);
  }
}

.container {
  max-width: 1800px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1280px) {
    width: calc(100% - 4rem);
  }
}
