---
import Layout from "../layouts/Layout.astro";
import PortableText from "../components/PortableText.astro";
import Experience from "../components/Experience.astro";
import { client } from "../lib/sanity";

const about = await client.fetch(`*[_type == "about" && _id == "about"][0]{
  heading,
  skills,
  "seoTitle": seo.title,
  "image": image.asset->{ url, metadata { dimensions } },
  content[]{
    ...,
    _type == "image" => {
      "url": asset->url,
      "dimensions": asset->metadata.dimensions,
      alt,
      caption
    }
  }
}`);
---

<Layout title={about?.seoTitle ?? about?.heading ?? "About"}>
  <main class="pt-40 mx-auto">
    <div class="grid lg:grid-cols-12 gap-y-10 gap-5">
      <div class="lg:col-span-12">
        <div class="grid lg:grid-cols-12 gap-5">
          <div class="lg:col-span-8 lg:pb-20">
            <h1 class="heading-1">
              Hi, I am Mila, a Creative Leader and Brand Strategist.
            </h1>
          </div>
        </div>
      </div>
      <div class="lg:col-span-3 lg:col-start-2">
        {
          about?.image?.url && (
            <div class="lg:sticky top-20">
              <img
                src={about.image.url}
                alt={about.image.alt ?? "Mila Linares"}
                class="w-full h-auto object-cover"
              />
            </div>
          )
        }
      </div>
      <div class="lg:col-span-7 lg:col-start-6">
        <div class="max-w-[760px]">
          <div class="prose body-2 leading-[150%]">
            <p>
              With roots in Spain, I have called CDMX, Paris, and Rotterdam home
              before settling in the ample hills of Brooklyn.
            </p>
            <p>
              I lead creative teams with coherence, courage and care. For the
              past 20 years, I have helped American Express broaden its appeal
              to a new generation of customers, Wikipedia draft a story to
              ground future growth, and Google refine its storytelling for
              businesses.
            </p>
            <p>
              I approach all projects by understanding first the needs of those
              we are looking to reach. My experience on the creative agency and
              client side give me the ability to deliver outstanding creative
              work, and the stamina to make it happen.
            </p>
            <p>
              I am currently serving as Chief of Brand at UNICEF, bringing our
              brand to life across a wide variety of contexts and partners from
              the field to the political arena and everywhere in between.
            </p>
            <p>
              In a historical moment marked by rupture and confusion, I believe
              in brand’s ability to identify what remains true, to clarify what
              matters most and to bring it to life in ordinary and extraordinary
              ways.
            </p>
          </div>
        </div>
      </div>
    </div>
    <Experience />
    <!-- <div class="grid grid-cols-8 gap-4 mt-40">
      <div class="col-span-3">
        {about?.heading && <h2 class="body-2 mb-8 leading-[150%]">Curiculum Verite</h2>}
      </div>
      <div class="col-span-5">
        {about?.content?.length > 0 && (
          <div>
            {about.content?.some((b: any) => b._type === 'block') && (
              <PortableText value={about.content.filter((b: any) => b._type === 'block')} layout={false} normalClass='body-1' />
            )}
          </div>
        )}
      </div>
    </div> -->
  </main>
</Layout>
