---
import Layout from "../layouts/Layout.astro";
import WorkListBlock from "../components/blocks/WorkListBlock.astro";
import Intro from "../components/Intro.astro";
import CalloutText from "../components/CalloutText.astro";
import HomeHero from "../components/HomeHero.astro";
import Expertise from "../components/Expertise.astro";
import Clients from "../components/Clients.astro";
import { client } from "../lib/sanity";

const homepage = await client.fetch(`*[_type == "homepage"][0]{
  "title": seo.title,
  blocks[]{
    _type,
    _key,
    body,
    "image": image.asset->{ url, metadata { dimensions } },
    heading,
    works[]->{
      _id,
      title,
      description,
      role,
      collaborators,
      year,
      client,
      "slug": slug.current,
      "coverImage": coverImage{ "url": asset->url, "dimensions": asset->metadata.dimensions, caption }
    }
  }
}`);

const { title, blocks } = homepage ?? {};
---

<Layout title={title ?? "Mila Linares"}>
  <Intro />
  <main>
    <HomeHero />
    {
      blocks?.map((block: any) => {
        if (block._type === "selectedWorksBlock") {
          return <WorkListBlock {...block} />;
        }
      })
    }
    <CalloutText />
    <Expertise />
    <Clients />
  </main>
</Layout>
