---
import Eyebrow from "../Eyebrow.astro";
import WorkItem from "../WorkItem/WorkItem.astro";
import CatHead from "../CatHead.astro";

interface Work {
  title: string;
  description?: string;
  role?: string;
  collaborators?: string;
  year?: number;
  client?: string;
}

interface Props {
  works?: Work[];
}

const { works = [] } = Astro.props;
---

<section class="pt-10 lg:pt-20 flex flex-col gap-4 relative">
  <div class="absolute right-[8%] top-[-42px]">
    <div class="w-[100px] overflow-hidden">
      <CatHead />
    </div>
  </div>
  <div
    class="pl-4 pt-5 pb-10 lg:pb-20 border-l border-t border-brand rounded-tl-2xl"
  >
    <Eyebrow>Selected Work</Eyebrow>
  </div>
  {works.map((item, i) => <WorkItem {...item} hideBorder={i === 0} />)}
</section>
